.title{
    color: white;
    padding-top: 50px;
}

#wrapper {
    height: 250px;
    width: 100%;
    overflow: auto;
  }

.biblio{
    color: blueviolet
}

.itembib{
    padding: 10px;
}

.index-content{
    padding-top: 50px;
}