---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container" style="padding-top: 70px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="post-heading" style="padding: 0px 0">
					<h1>Chapter {{site.data.Chapters[page.chapter].number}}  ~ {{site.data.Chapters[page.chapter].name}}</h1>
                    <h2>{{ page.title }}</h2>
                </div>
            </div>
		</div>

	</div>
</header>


<article>
    <div id="content" class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                {{ content | markdownify }}
                <hr>

                <h2> Bibliography</h2>

                <ol>
                {% for ibib in page.biblio %}
                
                    <li class='itembib' id='b{% increment cont %}'> 
                            {{site.data.Bibligraphy[ibib].title}} </br> 
                        <small>{{site.data.Bibligraphy[ibib].author}} ~ {{site.data.Bibligraphy[ibib].year}} </small>
                    </li>
                {% endfor %}
                </ol>
            </div>

        </div>

    </div>




</article>


<hr>



