---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="   background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" style="padding: 75px 0;">
					{% if page.url == '/' %}
                        {% if site.logo %}
                            <img style="width: 85%; " src= "{{ site.logo }}" >
                        {% endif %}	
					{% else %}{% endif %}	
                        {% if page.title %}
                            <h1 class="title">  
                            {{ page.title }}
                            </h1>
                        {% endif %}
                    <span class="subheading">{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}</span>
                    {% if page.url == '/' %}
                    <div class="container" style="padding: 0px; padding-top: 10px">
                            <div class="row">
                                <div class="col-lg-4 col-lg-offset-2 col-md-8 col-md-offset-1">
                                    

                                    <ul class="list-inline text-center">

                                        <li>
                                            <a href="https://github.com/{{ site.github_username }}/{{ site.project_repository}}">
                                                <span class="fa-stack fa-lg">
                                                    <i class="fa fa-circle fa-stack-2x"></i>
                                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </li>
                                        
                                    </ul>                                     
                                </div>
                            </div>
                    </div>

                    <div style="padding-top: 20px;">
                        <a href="https://github.com/DeustoTech/dycon-platform-documentation-source/archive/master.zip">
                        <button class="btn" >Download and Start!</button>
                        </a>
                    </div>
                    {% endif %}	

                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>

